<div class="center jumbotron">
  <h1>Welcome to My World</h1>
  <h2> This is the home page for my life</h2>
      <%= link_to "Sign up now!", " ", class: "btn btn-lg btn-success" %>
      </div>
<div class="row">
  <div class="col-lg-4">
           <h3 class="midrow">    View Recipes as Guest User"    </h3>
           <h2 class="left"> Browse and View recipes</h2>
           <p> <%=link_to "Browse Recipe Listing"," " , class:"btn btn-warning btn-small" %></p>
    </div>
      <div class="col-lg-4">
           <h3 class="midrow">    View Recipes as Guest User"    </h3>
           <h2 class="left"> Browse and View recipes</h2>
           <p> <%=link_to "Browse Recipe Listing"," " , class:"btn btn-warning btn-small" %></p>
    </div>
      <div class="col-lg-4">
           <h3 class="midrow">    View Recipes as Guest User"    </h3>
           <h2 class="left"> Browse and View recipes</h2>
           <p> <%=link_to "Browse Recipe Listing"," " , class:"btn btn-warning btn-small" %></p>
    </div>

  </div>
    
      
  

